# **Python- Hands-On Guide : Aadit Jain**

### **VARIABLES - Exercise**

**Easy**

Declare a variable without breaking any of the rules

**Medium**

Declare this variable “break = 50”. Which rule does it break ?

**Hard**

Make changes to these variables so that they no longer break the rules to
define a variable
1. phone$number = 12345
2. 123Name = *“Benny”*

In [ ]:
#break=50
# You shouldn't use reserve keywords
#phone$number = 12345 #Wrong Variable Declaration. Don't include $ sign
phoneNumber=12345
#123Name='Benny' # Wrong Variable declaration. Don't start with numbers.
Name='Benny'

### **NUMBERS - Exercise**
**Easy**

Write a program to assign the value 25 to an integer variable

**Medium**

Write a program to declare a floating value 25.77 and convert it to integer and
print the result

In [ ]:
a=25
f=25.77
convert_to_int=int(f)
print(convert_to_int)

25

### **OPERATORS - Exercise**
**Easy**

Write a program to add two numbers

**Medium**

Solve this equation manually.
2 + 3 * 4
Now write a program to solve this.
Did you get the same answer?

**Hard**

Use a logical operator in between two comparison operators and return the
value as true

In [ ]:
print(5+7)

print(2+3*4)

print(True==1)
print(False==0)
print(20>19)

12
14
True
True
True

### **STRINGS - Exercise**
**Easy**

Write a program to create a string “Python programming is easy”

**Medium**

Now slice the first string and store “easy” in the second string

**Hard**

Replace “easy” in the second string with “ and powerful” and concatenate both
the strings

In [ ]:
python_programming='Python programming is easy'
easy_hai=python_programming[-4:]
replace_hai=easy_hai.replace('easy',' and powerful')
print(easy_hai+replace_hai)

easy and powerful

### **LIST - Exercise**

**Easy**

Write a program to create a list of 5 elements

**Medium**

Update the value at 3rd element of the list

**Hard**

Create another list of 3 elements. Now create a final result as a concatenation
of the first two lists

In [ ]:
lst=['Aadit','Jain','Python','Infosys','TCS']

lst[2]=27
print(lst)
lst_new=['Python','Java','C++']

updated_lst=lst+lst_new
print(updated_lst)

['Aadit', 'Jain', 27, 'Infosys', 'TCS']
['Aadit', 'Jain', 27, 'Infosys', 'TCS', 'Python', 'Java', 'C++']

### **TUPLE - Exercise**

**Easy**

Write a program to create a tuple of 4 elements

**Medium**

Convert this tuple into a list

**Hard ***

Now delete the first element in this list and convert it back to tuple

In [ ]:
tup=('Delhi','Noida','Chandigarh','Mysore')
list1=list(tup)
print(list1)
list1.pop(0)
updated_tup=tuple(list1)
print(updated_tup)

['Delhi', 'Noida', 'Chandigarh', 'Mysore']
('Noida', 'Chandigarh', 'Mysore')

### **DICTIONARY - Exercise**

**Easy**

Write a program to create a dictionary with 5 key-value pairs

**Medium**

Update the value of a key

**Hard**

Copy this dictionary to another dictionary and clear the first dictionary

In [ ]:
dict1={'First name':'Aadit','Last name':'Jain','Age':27,'Occupation':'IT Professional','Skill':'Python'}
print(dict1)
dict1['Skill']='Machine Learning'
print(dict1)
new_dict=dict1.copy()
dict1.clear()
print(dict1)
print(new_dict)

{'First name': 'Aadit', 'Last name': 'Jain', 'Age': 27, 'Occupation': 'IT Professional', 'Skill': 'Python'}
{'First name': 'Aadit', 'Last name': 'Jain', 'Age': 27, 'Occupation': 'IT Professional', 'Skill': 'Machine Learning'}
{}
{'First name': 'Aadit', 'Last name': 'Jain', 'Age': 27, 'Occupation': 'IT Professional', 'Skill': 'Machine Learning'}

### **CONDITIONALS - Exercise**

**Easy**

Write a program to check if a number is less than 10

**Medium**

Write a program to check if a given number is odd or even

**Hard**

Write a program to check if a number is divisible by both 10 as well as 50. If it is
divisible by 30 as well, print “This number is divisible by 10, 50 and 30”. If not, print
“This number divisible by 10 and 50 but not 30”

In [ ]:
number=int(input('Enter any number: '))
if number<10:
  print('The entered number is less than 10.')

if number%2==0:
  print('The entered number is even.')
else:
  print('The entered number is odd.')

if number%10==0 and number%50==0:
  if number%30==0:
    print('This number is divisible by 10, 50 and 30.')
  else:
    print('This number divisible by 10 and 50 but not 30.')

Enter any number: 500
The entered number is even.
This number divisible by 10 and 50 but not 30.

### **LOOPS - Exercise**

**Easy**

Write a program to print numbers from 1 to 10

**Medium**

Write a program to print the sum of odd numbers from 1 to 10

**Hard**

Write a program to check if a given number is prime or not

In [ ]:
for i in range(1,11):
  print(i,end=' ')

1 2 3 4 5 6 7 8 9 10

In [ ]:
oddsum=0
for i in range(1,11):
  if i%2!=0:
    oddsum+=i
print('The Sum of all Odd numbers from 1 to 10 is',oddsum)

The Sum of all Odd numbers from 1 to 10 is 25

In [ ]:
number=int(input('Enter any no.: '))
if number>1:
  for i in range(2,number):
    if number%i==0:
      print('The entered number is not prime. It is composite.')
      break
  else:
    print('The entered number is a prime number.')

Enter any no.: 45
The entered number is not prime. It is composite.

### **FUNCTIONS - Exercise**

**Easy**

Write a function to print “Hello, World!”

**Medium**

Write a function that accepts two parameters and returns their sum

**Hard**

Write a function that accepts 3 sides of a triangle and returns the type of the
triangle
** Additional info:
Types of triangle -
 1. Equilateral triangle -> All the 3 sides are equal (Ex: 10, 10, 10)
 2. Isosceles triangle -> 2 sides are equal (Ex: 10, 10, 20)
 3. Scalene triangle -> No sides are equal (Ex: 10, 20, 30)

In [ ]:
print('Hello, World!')

def sum(a,b):
  return a+b

def triangle(a,b,c):
  if a==b and b==c:
    return "All the 3 sides are equal"
  elif a==b or a==c or b==c:
    return "2 sides are equal"
  else:
    return "No sides are equal"

Hello, World!

In [ ]:
print(triangle(10,10,10))

All the 3 sides are equal

In [ ]:
print(triangle(10,10,20))

2 sides are equal

In [ ]:
print(triangle(10,20,30))

No sides are equal

In [ ]:
# Final Project

students={'Aadit':1000,'Rashi':999,'Kavita':990,'Sandy':550,'Fatima':800,'Shreya':407}

for i,j in students.items():
  print(i,'scored',j,'marks in total.')

Aadit scored 1000 marks in total.
Rashi scored 999 marks in total.
Kavita scored 990 marks in total.
Sandy scored 550 marks in total.
Fatima scored 800 marks in total.
Shreya scored 407 marks in total.

In [ ]:
students_marks_list=sorted(list(students.values()))

for i ,j in students.items():
  if j==students_marks_list[-1]:
    print(i,'secured a cash reward of $500')
  elif j==students_marks_list[-2]:
    print(i,'secured a cash reward of $300')
  elif j==students_marks_list[-3]:
    print(i,'secured a cash reward of $100')

for i ,j in students.items():
  if j>950:
    print(i,'scored greater than 950 marks. Congratulations! Really Appreciate!')

Aadit secured a cash reward of $500
Rashi secured a cash reward of $300
Kavita secured a cash reward of $100
Aadit scored greater than 950 marks. Congratulations! Really Appreciate!
Rashi scored greater than 950 marks. Congratulations! Really Appreciate!
Kavita scored greater than 950 marks. Congratulations! Really Appreciate!